#preloader{
	position: fixed;
	width: 100%;
	background: rgba(255,255,255,.97);
	height: 100%;
	z-index: 99999999999;

}

#loader {
 	position: absolute;
 	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 175px;
	height: 175px;
	margin: auto;
}
#loader .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 87.5px;
	height: 100%;
	margin: auto;
}
#loader .dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 87.5px;
	height: 87.5px;
	border-radius: 100%;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}
#loader .dot:nth-child(7n+1) {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1):before {
	background: #00ff80;
	-webkit-animation: load 0.8s linear 0.1s infinite;
	   -moz-animation: load 0.8s linear 0.1s infinite;
	    -ms-animation: load 0.8s linear 0.1s infinite;
	     -o-animation: load 0.8s linear 0.1s infinite;
	        animation: load 0.8s linear 0.1s infinite;
}
#loader .dot:nth-child(7n+2) {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2):before {
background: #00ffea;
	-webkit-animation: load 0.8s linear 0.2s infinite;
	   -moz-animation: load 0.8s linear 0.2s infinite;
	    -ms-animation: load 0.8s linear 0.2s infinite;
	     -o-animation: load 0.8s linear 0.2s infinite;
	        animation: load 0.8s linear 0.2s infinite;
}
#loader .dot:nth-child(7n+3) {
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
	        transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3):before {
background: #00aaff;
	-webkit-animation: load 0.8s linear 0.3s infinite;
	   -moz-animation: load 0.8s linear 0.3s infinite;
	    -ms-animation: load 0.8s linear 0.3s infinite;
	     -o-animation: load 0.8s linear 0.3s infinite;
	        animation: load 0.8s linear 0.3s infinite;
}
#loader .dot:nth-child(7n+4) {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4):before {
	background: #0040ff;
	-webkit-animation: load 0.8s linear 0.4s infinite;
	   -moz-animation: load 0.8s linear 0.4s infinite;
	    -ms-animation: load 0.8s linear 0.4s infinite;
	     -o-animation: load 0.8s linear 0.4s infinite;
	        animation: load 0.8s linear 0.4s infinite;
}
#loader .dot:nth-child(7n+5) {
	-webkit-transform: rotate(225deg);
	   -moz-transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	     -o-transform: rotate(225deg);
	        transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5):before {
	background: #2a00ff;
	-webkit-animation: load 0.8s linear 0.5s infinite;
	   -moz-animation: load 0.8s linear 0.5s infinite;
	    -ms-animation: load 0.8s linear 0.5s infinite;
	     -o-animation: load 0.8s linear 0.5s infinite;
	        animation: load 0.8s linear 0.5s infinite;
}
#loader .dot:nth-child(7n+6) {
	-webkit-transform: rotate(270deg);
	   -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	     -o-transform: rotate(270deg);
	        transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6):before {
	background: #9500ff;
	-webkit-animation: load 0.8s linear 0.6s infinite;
	   -moz-animation: load 0.8s linear 0.6s infinite;
	    -ms-animation: load 0.8s linear 0.6s infinite;
	     -o-animation: load 0.8s linear 0.6s infinite;
	        animation: load 0.8s linear 0.6s infinite;
}
#loader .dot:nth-child(7n+7) {
	-webkit-transform: rotate(315deg);
	   -moz-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	     -o-transform: rotate(315deg);
	        transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7):before {
	background: magenta;
	-webkit-animation: load 0.8s linear 0.7s infinite;
	   -moz-animation: load 0.8s linear 0.7s infinite;
	    -ms-animation: load 0.8s linear 0.7s infinite;
	     -o-animation: load 0.8s linear 0.7s infinite;
	        animation: load 0.8s linear 0.7s infinite;
}
#loader .dot:nth-child(7n+8) {
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	        transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8):before {
	background: #ff0095;
	-webkit-animation: load 0.8s linear 0.8s infinite;
	   -moz-animation: load 0.8s linear 0.8s infinite;
	    -ms-animation: load 0.8s linear 0.8s infinite;
	     -o-animation: load 0.8s linear 0.8s infinite;
	        animation: load 0.8s linear 0.8s infinite;
}
#loader .lading{
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -40px;
	height: 20px;
	width: 180px;
	background-position: 50% 50%;
}

@-webkit-keyframes load {
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes load  {
	100% {
		opacity: 0;
		-moz-transform: scale(1);
	}
}
@-ms-keyframes load {
	100% {
		opacity: 0;
		-ms-transform: scale(1);
	}
}
@-o-keyframes load {
	100% {
		opacity: 0;
		-o-transform: scale(1);
	}
}
@keyframes load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

/* 10 - Preloader End
---------------------------------------------------------------------- */



a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 240px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
